@mixin font {
    font-family: 'Raleway', sans-serif;
}

*{
    @include font();
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

header{
    nav{
        ul{
        display: flex;
        justify-content: space-around;
        h1{
            font-size: 1.9em;
            flex: 1
        }
        li{
            padding-top: 35px;
            font-size: 1em;
            width: 10%;
        }
        }
    }
    .sous-titre{
        .small-title{
            display: flex;
            .border{
            width: 10%;
            border-top: 1px solid orange;
        }
    }
      .big{
          font-size: 2.5em;
          text-align: center;
      }  
    }
}
main{
    article{
        display: flex;
        justify-content: center;
        ul{
            margin-right: 200px;
            li{
                font-size: 1.5em;
            }
        }
        img{
            width: 20%;
            margin-right: 200px;
            z-index: 10000;
        }
        .ombre{
            width: 30%;
            height: 250px;
            background-color: orange;
            position: absolute;
            z-index: 1;
            top: 370px;
            right: 100px;
        }
    }
}